hr{
    border: 15px solid black;
    border-radius: 5px;
        } 
      button {
    transition-duration: 0.4s;
    color: Black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
  }
  button:hover{
   background-color: #000000; 
    color: white;
  }
      footer{
       text-align: center;
       padding: 5px;
       background-color: #abbaba;
       color: #000;
       }
      html* {
       line-height: 1.620;
          color: solid blacks;
          font-family:sans-serif;
          font-size:30px
      }